<img src={{contact.largeImageURL}}>
{{ contact.name }}
{{ contact.company }}
<div [ngSwitch]="phone_pref">
  <div *ngSwitchCase="work">{{contact.phone.work}}</div>
  <div *ngSwitchCase="home">{{contact.phone.home}}</div>
  <div *ngSwitchCase="mobile">{{contact.phone.mobile}}</div>
  <div *ngSwitchDefault>{{contact.phone.mobile}}</div>
</div>


{{ contact.address.street }}, {{ contact.address.state }}, {{ contact.address.country }}, {{ contact.address.zip }}
{{ contact.birthday }}

{{ contact.email }}
